* {
  box-sizing: border-box;
}
body {
  margin: 0;

  background-color: burlywood;
  color: rgb(61, 51, 38);
}
main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 2% 0 2%;
  margin: 0;
  background-color: white;
  box-shadow: 0px 0px 5px black;
}
header h1 {
  font-size: 2rem;
}

#filterholder {
  padding: 1% 1% 1% 2%;
  display: flex;
  flex-direction: column;
  align-items: top;
  font-size: 0.8rem;
}
#filterholder h2 {
  text-decoration: underline;
  line-height: 0rem;
}
#cardholder {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0% 0% 3% 0%;
  border: 0px solid black;
}
figure {
  padding: 0;
  display: flex;
  border-radius: 10px;
  border: 0px solid black;
  box-shadow: 0 0 10px black;
  background-color: white;
}
figure div {
  margin: 0;
  padding: 5%;
}
figure img {
  width: 140px;
  box-shadow: 0 0 5px;
  height: auto;
  margin: 2%;
  object-fit: contain;
}
#training {
  display: flex;
  justify-content: center;
  max-width: 100%;
  padding: 5%;
  margin: 2%;
}
#training div {
  max-width: 35%;
  margin: 5%;
}
iframe {
  box-shadow: 0 0 10px;
}
footer {
  padding: 2%;
  text-align: center;
  position: relative;
  bottom: 0;
}
.hide {
  display: none;
}
@media screen and (max-width: 768px) {
  #cardholder {
    grid-template-columns: 1fr;
  }
  #training div {
    max-width: 90%;
  }
  #training {
    flex-wrap: wrap;
    padding: 2%;
  }
}
